# Movies and TV Shows Dataset Analysis

## Overview
This project aims to analyze a dataset containing information about various movies and TV shows. The dataset includes several columns such as 'Movies', 'Year', 'Genre', 'Rating', 'One-Line', 'Stars', 'Votes', 'RunTime', and 'Gross'. The data is cleaned and processed to derive insights and patterns from the entertainment industry.

## Dataset Description
- **Movies**: Name of the Movie/TV Show.
- **Year**: Year of the release.
- **Genre**: Genre of the Movie/Show.
- **Rating**: Movie/Show Rating.
- **One-Line**: Concise description or summary of the Movie/Show.
- **Stars**: Contains information about the cast members and, in some cases, details about directors.
- **Votes**: Total number of votes received for the Movie/Show.
- **RunTime**: Duration or runtime of the Movie/Show.
- **Gross**: Total Amount earned Worldwide.

## Data Cleaning and Preprocessing
- **Handling Missing Values**: Addressed missing values in columns where applicable.
- **Parsing Year and Runtime**: Extracted and converted year and runtime information into appropriate formats for analysis.
- **Cleaning 'Stars' Column**: Extracted cast member names and handled cases with additional director information.

## Analysis and Insights
Performed exploratory data analysis (EDA) to:
- Analyze distribution of movies/shows over different years and genres.
- Investigate correlations between ratings, votes, and gross earnings.
- Examine the impact of runtime on ratings and earnings.
- Identify top-rated movies/shows and highest-grossing entries.

## Conclusion
Concluded insights derived from the analysis, highlighting key trends and factors that influence the success and reception of movies and TV shows based on the dataset.

## Future Work
Potential future work might include:
- Sentiment analysis on one-liner descriptions.
- Machine learning models for predicting ratings or earnings based on available features.
- Incorporating additional datasets for a more comprehensive analysis.

## Tools Used
- Python (Pandas, Matplotlib, Seaborn) for data manipulation, visualization, and analysis.

*Note: This project is aimed at demonstrating data cleaning & analysis skills and drawing insights from the provided dataset of movies and TV shows.*

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("C:/Users/sidja/Documents/Intellipaat/Python/Stats & ML/Kaggle Datasets/movies.csv/movies.csv")

In [2]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,-2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","8,85,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","4,14,849",23.0,NaN
4,Army of Thieves,-2021,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [4]:
df['YEAR'] = df['YEAR'].astype('str')

In [5]:
df['Length'] = df['YEAR'].apply(len)

## Now we have the length, we need to analyze by its length and remove unnecessary rows

In [6]:
new = df[['YEAR','Length']]
print(new.head())
new.shape

          YEAR  Length
0        -2021       5
1     (2021– )       8
2  (2010–2022)      11
3     (2013– )       8
4        -2021       5

(9999, 2)

In [7]:
length = list(new['Length'].value_counts().index)

# Analysing it via length

In [8]:
for i in length:
    print(new[new['Length'] == i].head(10))

     YEAR  Length
0   -2021       5
4   -2021       5
6   -2021       5
10  -2021       5
12  -2021       5
20  -2021       5
25  -2021       5
30  -2021       5
49  -2021       5
56  -2020       5
        YEAR  Length
1   (2021– )       8
3   (2013– )       8
5   (2020– )       8
8   (2020– )       8
9   (2019– )       8
13  (2021– )       8
14  (2011– )       8
15  (2005– )       8
17  (2017– )       8
19  (2016– )       8
           YEAR  Length
2   (2010–2022)      11
7   (2006–2013)      11
11  (2016–2021)      11
16  (2008–2013)      11
18  (2017–2021)      11
21  (1994–2004)      11
26  (2013–2020)      11
28  (2005–2020)      11
32  (2013–2022)      11
35  (2009–2020)      11
     YEAR  Length
878   nan       3
1155  (I)       3
1375  nan       3
1414  nan       3
1419  nan       3
1425  nan       3
1428  nan       3
1464  nan       3
1485  nan       3
1492  nan       3
                   YEAR  Length
155   (2021 TV Special)      17
1466  (2016 TV Special)      17
1560  (2020 TV Special)      17
1597  (2013 TV Special)      17
2449  (2017 TV Special)      17
2512  (2020 TV Special)      17
2543  (2020 TV Special)      17
2768  (2019 TV Special)      17
2802  (2015 TV Special)      17
2837  (2019 TV Special)      17
           YEAR  Length
125  (I) (2019)      10
161  (I) (2017)      10
199  (I) (2020)      10
210  (I) (2019)      10
231  (I) (2020)      10
257  (I) (2019)      10
316  (I) (2020)      10
329  (I) (2017)      10
341  (I) (2017)      10
345  (I) (2019)      10
                 YEAR  Length
190   (I) (2013–2016)      15
635   (I) (2013–2014)      15
842   (2013 TV Movie)      15
853   (I) (2012–2015)      15
1075  (2017 TV Movie)      15
1354  (2014 TV Movie)      15
1472  (2020 TV Movie)      15
1633  (2016 TV Movie)      15
1748  (2021 TV Movie)      15
1767  (2013 TV Movie)      15
              YEAR  Length
36    (I) (2018– )      12
200   (III) (2021)      12
759   (III) (2018)      12
1063  (2016 Video)      12
1105  (III) (2015)      12
1205  (III) (2021)      12
1259  (III) (2019)      12
1340  (2016 Video)      12
1531  (2020 Video)      12
1611  (I) (2021– )      12
      YEAR  Length
1527  (II)       4
1684  (II)       4
1982  (II)       4
2295  (IV)       4
2804  (II)       4
2859  (II)       4
2948  (II)       4
2980  (II)       4
3017  (II)       4
3062  (II)       4
               YEAR  Length
84    (II) (2007– )      13
434   (II) (2017– )      13
552   (II) (2019– )      13
606   (II) (2020– )      13
778   (II) (2012– )      13
3023  (II) (2021– )      13
3174  (II) (2017– )      13
5826  (II) (2016– )      13
6230  (II) (2020– )      13
6324  (II) (2021– )      13
         YEAR  Length
4640  (XXIII)       7
6233  (Video)       7
6455  (Video)       7
        YEAR  Length
3872  (VIII)       6
5868  (XIII)       6
                  YEAR  Length
5892  (II) (2012–2019)      16
                      YEAR  Length
6396  (II) (2016 TV Movie)      20

In [9]:
for i in length:
    print(new[new['Length'] == i].tail(10))

       YEAR  Length
9825  -2021       5
9826  -2021       5
9827  -2021       5
9845  -2021       5
9964  -2021       5
9965  -2021       5
9966  -2021       5
9967  -2021       5
9968  -2021       5
9969  -2021       5
          YEAR  Length
9989  (2022– )       8
9990  (2022– )       8
9991  (2022– )       8
9992  (2022– )       8
9993  (2022– )       8
9994  (2021– )       8
9995  (2021– )       8
9996  (2022– )       8
9997  (2021– )       8
9998  (2021– )       8
             YEAR  Length
9939  (2017–2021)      11
9940  (2017–2021)      11
9941  (2017–2021)      11
9942  (2017–2021)      11
9943  (2017–2021)      11
9944  (2017–2021)      11
9945  (2017–2021)      11
9946  (2017–2021)      11
9947  (2017–2021)      11
9963  (2017–2021)      11
     YEAR  Length
9904  nan       3
9905  nan       3
9906  nan       3
9907  nan       3
9908  nan       3
9909  nan       3
9910  nan       3
9911  nan       3
9912  nan       3
9913  nan       3
                   YEAR  Length
6389  (2010 TV Special)      17
6415  (2018 TV Special)      17
6422  (2018 TV Special)      17
6427  (2011 TV Special)      17
6429  (2005 TV Special)      17
6436  (2018 TV Special)      17
6447  (2015 TV Special)      17
6458  (2017 TV Special)      17
6468  (2016 TV Special)      17
6473  (2018 Video Game)      17
            YEAR  Length
5913  (TV Movie)      10
5914  (I) (2008)      10
5932  (I) (2014)      10
5961  (TV Movie)      10
6011  (I) (2014)      10
6100  (TV Movie)      10
6124  (I) (2015)      10
6184  (I) (2020)      10
6349  (TV Movie)      10
6368  (TV Movie)      10
                 YEAR  Length
6309  (2006 TV Movie)      15
6314  (2007 TV Movie)      15
6317  (2017 TV Short)      15
6350  (2015 TV Movie)      15
6359  (2017 TV Movie)      15
6361  (2006 TV Movie)      15
6409  (2011 TV Movie)      15
6416  (2009 TV Movie)      15
6423  (2017 TV Movie)      15
6461  (2020 TV Movie)      15
              YEAR  Length
6420  (2018 Video)      12
6424  (2020 Video)      12
6425  (2018 Video)      12
6426  (2005 Video)      12
6430  (2012 Video)      12
6432  (2010 Video)      12
6434  (2020 Video)      12
6435  (2021 Video)      12
6443  (2016 Video)      12
6462  (2021 Video)      12
      YEAR  Length
5958  (IV)       4
6021  (XI)       4
6154  (II)       4
6433  (II)       4
6852  (II)       4
6853  (II)       4
6854  (II)       4
6855  (II)       4
6856  (II)       4
6857  (II)       4
               YEAR  Length
84    (II) (2007– )      13
434   (II) (2017– )      13
552   (II) (2019– )      13
606   (II) (2020– )      13
778   (II) (2012– )      13
3023  (II) (2021– )      13
3174  (II) (2017– )      13
5826  (II) (2016– )      13
6230  (II) (2020– )      13
6324  (II) (2021– )      13
         YEAR  Length
4640  (XXIII)       7
6233  (Video)       7
6455  (Video)       7
        YEAR  Length
3872  (VIII)       6
5868  (XIII)       6
                  YEAR  Length
5892  (II) (2012–2019)      16
                      YEAR  Length
6396  (II) (2016 TV Movie)      20

###  Finding the individual letters and stripping rest of the characters

In [10]:
length_5 = list(new[new['Length'] == 5].YEAR)

In [11]:
character_5 = []

for n in length_5:
    for char in n:
        if char not in character_5:
            character_5.append(char)

In [12]:
character_5

['-',
 '2',
 '0',
 '1',
 '7',
 '9',
 '3',
 '6',
 '5',
 '4',
 '8',
 '(',
 'I',
 ')',
 'X',
 'V',
 'L']

In [13]:
new.YEAR[new['Length'] == 5] = new.YEAR[new['Length'] == 5].str.strip('(I)XVL')

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\3668302414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.YEAR[new['Length'] == 5] = new.YEAR[new['Length'] == 5].str.strip('(I)XVL')

In [14]:
length_5 = list(new[new['Length'] == 5].YEAR)

character_5 = []

for n in length_5:
    for char in n:
        if char not in character_5:
            character_5.append(char)
            
character_5

['-', '2', '0', '1', '7', '9', '3', '6', '5', '4', '8']

In [15]:
new.YEAR[new['Length'] == 5] = new.YEAR[new['Length'] == 5].str.strip('-')

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\2789994934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.YEAR[new['Length'] == 5] = new.YEAR[new['Length'] == 5].str.strip('-')

### We have to do it for all the values

In [16]:
length_8 = list(new[new['Length'] == 8].YEAR)

character_8 = []

for n in length_8:
    for char in n:
        if char not in character_8:
            character_8.append(char)
            
character_8

['(', '2', '0', '1', '–', ' ', ')', '3', '9', '5', '7', '6', '4', '8']

In [17]:
new.YEAR[new['Length'] == 8] = new.YEAR[new['Length'] == 8].str.strip('()–')

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\2939707102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.YEAR[new['Length'] == 8] = new.YEAR[new['Length'] == 8].str.strip('()–')

In [18]:
new.YEAR[new['Length'] == 8] = new.YEAR[new['Length'] == 8].str.strip(' ')

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\2422172180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.YEAR[new['Length'] == 8] = new.YEAR[new['Length'] == 8].str.strip(' ')

In [19]:
new.YEAR[new['Length'] == 8] = new.YEAR[new['Length'] == 8].str.strip('–')

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\332490799.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.YEAR[new['Length'] == 8] = new.YEAR[new['Length'] == 8].str.strip('–')

In [20]:
length_8 = list(new[new['Length'] == 8].YEAR)

character_8 = []

for n in length_8:
    for char in n:
        if char not in character_8:
            character_8.append(char)
            
character_8

['2', '0', '1', '3', '9', '5', '7', '6', '4', '8']

In [21]:
df['Length'].value_counts()

5     3793
8     3159
11    1458
3      672
17     393
10     167
15     164
12     147
4       29
13      10
7        3
6        2
16       1
20       1
Name: Length, dtype: int64

In [22]:
new[new['Length'] == 11].YEAR.unique

# Since it is a movie release year, there is no point of adding an average or a median value. i would rather keep it as nan

<bound method Series.unique of 2       (2010–2022)
7       (2006–2013)
11      (2016–2021)
16      (2008–2013)
18      (2017–2021)
           ...
9944    (2017–2021)
9945    (2017–2021)
9946    (2017–2021)
9947    (2017–2021)
9963    (2017–2021)
Name: YEAR, Length: 1458, dtype: object>

In [23]:
new.YEAR[new['Length'] == 11] = np.nan

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\2926460544.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.YEAR[new['Length'] == 11] = np.nan

In [24]:
new[new['Length'] == 3].YEAR.unique

<bound method Series.unique of 878     nan
1155    (I)
1375    nan
1414    nan
1419    nan
       ...
9909    nan
9910    nan
9911    nan
9912    nan
9913    nan
Name: YEAR, Length: 672, dtype: object>

In [25]:
new.YEAR[new['Length'] == 3] = np.nan

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\1599360703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.YEAR[new['Length'] == 3] = np.nan

In [26]:
new[new['Length'] == 17].YEAR.unique

<bound method Series.unique of 155     (2021 TV Special)
1466    (2016 TV Special)
1560    (2020 TV Special)
1597    (2013 TV Special)
2449    (2017 TV Special)
              ...
6436    (2018 TV Special)
6447    (2015 TV Special)
6458    (2017 TV Special)
6468    (2016 TV Special)
6473    (2018 Video Game)
Name: YEAR, Length: 393, dtype: object>

In [27]:
length_17 = list(new[new['Length'] == 17].YEAR)

character_17 = []

for n in length_17:
        if n not in character_17:
            character_17.append(n)
            
character_17

['(2021 TV Special)',
 '(2016 TV Special)',
 '(2020 TV Special)',
 '(2013 TV Special)',
 '(2017 TV Special)',
 '(2019 TV Special)',
 '(2015 TV Special)',
 '(2018 TV Special)',
 '(2014 TV Special)',
 '(2012 TV Special)',
 '(2006 TV Special)',
 '(2011 TV Special)',
 '(2008 TV Special)',
 '(2010 TV Special)',
 '(1993 TV Special)',
 '(1989 TV Special)',
 '(1966 TV Special)',
 '(1987 TV Special)',
 '(1998 TV Special)',
 '(2022 TV Special)',
 '(1991 TV Special)',
 '(2007 TV Special)',
 '(1965 TV Special)',
 '(1990 TV Special)',
 '(2001 TV Special)',
 '(2009 TV Special)',
 '(2003 TV Special)',
 '(2005 TV Special)',
 '(2018 Video Game)']

In [28]:
for i in character_17:
    print(i[1:6])

2021
2016
2020
2013
2017
2019
2015
2018
2014
2012
2006
2011
2008
2010
1993
1989
1966
1987
1998
2022
1991
2007
1965
1990
2001
2009
2003
2005
2018

In [29]:
length_17_new = []
for i in length_17:
    length_17_new.append(i[1:6])
len(length_17_new)

393

In [30]:
new.YEAR[new['Length'] == 17] = length_17_new

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\4215847550.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.YEAR[new['Length'] == 17] = length_17_new

In [31]:
new[new['Length'] == 10].value_counts()

YEAR        Length
(I) (2019)  10        24
(I) (2018)  10        22
(I) (2017)  10        17
(I) (2016)  10        16
(I) (2015)  10        15
(I) (2014)  10        15
(I) (2020)  10        11
(TV Movie)  10         9
(I) (2013)  10         7
(I) (2012)  10         6
(I) (2011)  10         5
(I) (2021)  10         5
(I) (2008)  10         4
(I) (2009)  10         3
(I) (2010)  10         2
(V) (2010)  10         1
(V) (2016)  10         1
(I) (2000)  10         1
(I) (2004)  10         1
(I) (2005)  10         1
(V) (2018)  10         1
dtype: int64

In [32]:
new[(new['Length'] == 10) & (new['YEAR'] == '(TV Movie)')].YEAR = np.nan

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\2912000307.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new[(new['Length'] == 10) & (new['YEAR'] == '(TV Movie)')].YEAR = np.nan

In [33]:
length_10 = list(new[(new['Length'] == 10) & (new['YEAR'] != '(TV Movie)')].YEAR)

In [34]:
length_10_new = []
for i in length_10:
    length_10_new.append(i[5:9])
print(len(length_10_new))
print(length_10_new[:4])

158
['2019', '2017', '2020', '2019']

In [35]:
new[(new['Length'] == 10) & (new['YEAR'] != '(TV Movie)')].YEAR = length_10_new

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\880467318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new[(new['Length'] == 10) & (new['YEAR'] != '(TV Movie)')].YEAR = length_10_new

In [36]:
new[new['Length'] == 15].value_counts()

YEAR             Length
(2019 TV Movie)  15        22
(2014 TV Movie)  15        19
(2018 TV Movie)  15        17
(2016 TV Movie)  15        16
(2015 TV Movie)  15        16
(2017 TV Movie)  15        14
(2020 TV Movie)  15        13
(2013 TV Movie)  15         9
(2021 TV Movie)  15         6
(2011 TV Movie)  15         4
(2012 TV Movie)  15         3
(2006 TV Movie)  15         3
(2009 TV Movie)  15         2
(2008 TV Movie)  15         2
(2014 TV Short)  15         2
(2015 TV Short)  15         2
(2021 TV Short)  15         1
(I) (2012–2015)  15         1
(I) (2013–2014)  15         1
(2020 TV Short)  15         1
(I) (2013–2016)  15         1
(1975 TV Movie)  15         1
(2019 TV Short)  15         1
(2017 TV Short)  15         1
(1988 TV Movie)  15         1
(2007 TV Movie)  15         1
(2001 TV Movie)  15         1
(1999 TV Movie)  15         1
(1993 TV Movie)  15         1
(I) (2019–2020)  15         1
dtype: int64

In [37]:
new[(new['Length'] == 15) & (new['YEAR'].isin(['(I) (2012–2015)','(I) (2013–2014)','(I) (2013–2016)','(I) (2019–2020)']))].YEAR = np.nan

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\3940416950.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new[(new['Length'] == 15) & (new['YEAR'].isin(['(I) (2012–2015)','(I) (2013–2014)','(I) (2013–2016)','(I) (2019–2020)']))].YEAR = np.nan

In [38]:
length_15 = list(new[(new['Length'] == 15) & ~(new['YEAR'].isin(['(I) (2012–2015)','(I) (2013–2014)','(I) (2013–2016)','(I) (2019–2020)']))].YEAR)

In [39]:
length_15_new = []
for i in length_15:
    length_15_new.append(i[1:5])
print(len(length_15_new))
print(length_15_new[:4])

160
['2013', '2017', '2014', '2020']

In [40]:
new[(new['Length'] == 15) & ~(new['YEAR'].isin(['(I) (2012–2015)','(I) (2013–2014)','(I) (2013–2016)','(I) (2019–2020)']))].YEAR  = length_15_new

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\2690133334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new[(new['Length'] == 15) & ~(new['YEAR'].isin(['(I) (2012–2015)','(I) (2013–2014)','(I) (2013–2016)','(I) (2019–2020)']))].YEAR  = length_15_new

In [41]:
new[new['Length'] == 12] .YEAR.value_counts()

(2015 Video)    9
(2016 Video)    8
(2012 Video)    8
(2011 Video)    7
(2008 Video)    7
(2009 Video)    7
(2014 Video)    6
(2013 Video)    6
(2006 Video)    6
(2020 Video)    6
(2019 Video)    5
(TV Special)    5
(2017 Video)    5
(2021 Video)    5
(2004 Video)    4
(I) (2020– )    4
(III) (2021)    4
(2010 Video)    4
(III) (2015)    4
(2018 Video)    4
(2005 Video)    3
(I) (2019– )    3
(III) (2020)    2
(2007 Video)    2
(2003 Video)    2
(III) (2019)    2
(III) (2018)    2
(III) (2014)    1
(III) (2011)    1
(2000 Video)    1
(1995 Video)    1
(XIV) (2017)    1
(1989 Video)    1
(I) (2018– )    1
(1992 Video)    1
(III) (2017)    1
(III) (2012)    1
(I) (2015– )    1
(III) (2010)    1
(I) (2022– )    1
(III) (2016)    1
(1996 Video)    1
(I) (2021– )    1
(1998 Video)    1
Name: YEAR, dtype: int64

In [42]:
length_12 = list(new[new['Length'] == 12].YEAR)

In [43]:
character_12 = []

for i in length_12:
    for char in i:
        if char not in character_12:
            character_12.append(char)
character_12.sort()
print(character_12)
print('[', ''. join(str(x) for x in character_12), ']')

[' ', '(', ')', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'I', 'S', 'T', 'V', 'X', 'a', 'c', 'd', 'e', 'i', 'l', 'o', 'p', '–']
[  ()0123456789ISTVXacdeilop– ]

In [44]:
new.YEAR[new['Length'] == 12] = new.YEAR[new['Length'] == 12].str.strip(',()ISTVXacdeilop– ')

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\202458151.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.YEAR[new['Length'] == 12] = new.YEAR[new['Length'] == 12].str.strip(',()ISTVXacdeilop– ')

In [45]:
new[new['Length'] == 12] .YEAR.value_counts()

2015    14
2020    12
2021    10
2019    10
2016     9
2012     9
2011     8
2018     7
2008     7
2009     7
2014     7
2017     7
2006     6
2013     6
         5
2010     5
2004     4
2005     3
2007     2
2003     2
1995     1
2000     1
2022     1
1989     1
1992     1
1996     1
1998     1
Name: YEAR, dtype: int64

**For characters which have length 4, we have to iterate through all the characters of the list since we have already converted most of the values to 4**

In [46]:
new[new['Length'] == 13].YEAR.value_counts()

(II) (2017– )    2
(II) (2020– )    2
(II) (2021– )    2
(II) (2007– )    1
(II) (2019– )    1
(II) (2012– )    1
(II) (2016– )    1
Name: YEAR, dtype: int64

In [47]:
length_13 = list(new[new['Length']==13].YEAR)

In [48]:
length_13_new = []

for i in length_13:
    length_13_new.append(i[6:10])
print(length_13_new)

['2007', '2017', '2019', '2020', '2012', '2021', '2017', '2016', '2020', '2021']

In [49]:
new[new['Length'] == 13].YEAR = length_13_new

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\2036028685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new[new['Length'] == 13].YEAR = length_13_new

In [50]:
new[new['Length'].isin([7,6,16,20])].YEAR = np.nan

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\3074781771.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new[new['Length'].isin([7,6,16,20])].YEAR = np.nan

In [51]:
new.YEAR.value_counts()

2020               1543
2019               1103
2021               1082
2018                758
2017                542
                   ...
(I) (2005)            1
(I) (2013–2014)       1
(V) (2010)            1
(1988 TV Movie)       1
2005                  1
Name: YEAR, Length: 175, dtype: int64

In [52]:
new['YEAR'] = new['YEAR'].astype('str')

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\3215238842.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['YEAR'] = new['YEAR'].astype('str')

In [53]:
new['Length'] = new['YEAR'].apply(len)

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\2392246414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['Length'] = new['YEAR'].apply(len)

In [54]:
new['Length'].isnull().sum()

0

In [55]:
new['Length'].value_counts()

4     7095
3     2130
5      393
10     167
15     164
0       33
13      10
7        3
6        2
16       1
20       1
Name: Length, dtype: int64

In [56]:
new[new['Length'] == 3].YEAR.value_counts()

nan    2130
Name: YEAR, dtype: int64

In [57]:
new[new['Length'] == 5].YEAR.value_counts()

2017     81
2020     65
2018     65
2019     53
2016     35
2021     16
2015     15
2014     15
2013     12
2012      6
2011      5
2010      3
2001      3
2006      3
2008      2
1991      2
2003      1
2009      1
2007      1
1990      1
1965      1
1993      1
2022      1
1998      1
1987      1
1966      1
1989      1
2005      1
Name: YEAR, dtype: int64

Clear

In [58]:
new[new['Length'] == 10].YEAR.value_counts()

(I) (2019)    24
(I) (2018)    22
(I) (2017)    17
(I) (2016)    16
(I) (2014)    15
(I) (2015)    15
(I) (2020)    11
(TV Movie)     9
(I) (2013)     7
(I) (2012)     6
(I) (2011)     5
(I) (2021)     5
(I) (2008)     4
(I) (2009)     3
(I) (2010)     2
(I) (2004)     1
(I) (2000)     1
(V) (2016)     1
(V) (2018)     1
(I) (2005)     1
(V) (2010)     1
Name: YEAR, dtype: int64

In [59]:
new.loc[new[new['YEAR'] == '(TV Movie)'].index,'YEAR'] = np.nan

In [60]:
# check

new[new['Length'] == 10].YEAR.value_counts()

(I) (2019)    24
(I) (2018)    22
(I) (2017)    17
(I) (2016)    16
(I) (2014)    15
(I) (2015)    15
(I) (2020)    11
(I) (2013)     7
(I) (2012)     6
(I) (2011)     5
(I) (2021)     5
(I) (2008)     4
(I) (2009)     3
(I) (2010)     2
(I) (2004)     1
(I) (2000)     1
(V) (2016)     1
(V) (2018)     1
(I) (2005)     1
(V) (2010)     1
Name: YEAR, dtype: int64


clear

In [61]:
new['YEAR'] = new['YEAR'].astype(str)
new['Length'] = new['YEAR'].apply(len)

new['Length'].value_counts()

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\4012506726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['YEAR'] = new['YEAR'].astype(str)
C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\4012506726.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['Length'] = new['YEAR'].apply(len)

4     7095
3     2139
5      393
15     164
10     158
0       33
13      10
7        3
6        2
16       1
20       1
Name: Length, dtype: int64

In [62]:
new[new['Length'] == 15].YEAR.value_counts()

(2019 TV Movie)    22
(2014 TV Movie)    19
(2018 TV Movie)    17
(2016 TV Movie)    16
(2015 TV Movie)    16
(2017 TV Movie)    14
(2020 TV Movie)    13
(2013 TV Movie)     9
(2021 TV Movie)     6
(2011 TV Movie)     4
(2012 TV Movie)     3
(2006 TV Movie)     3
(2008 TV Movie)     2
(2015 TV Short)     2
(2014 TV Short)     2
(2009 TV Movie)     2
(1999 TV Movie)     1
(2020 TV Short)     1
(2001 TV Movie)     1
(2007 TV Movie)     1
(1988 TV Movie)     1
(I) (2013–2016)     1
(2021 TV Short)     1
(2019 TV Short)     1
(1975 TV Movie)     1
(I) (2019–2020)     1
(I) (2013–2014)     1
(1993 TV Movie)     1
(I) (2012–2015)     1
(2017 TV Short)     1
Name: YEAR, dtype: int64

In [63]:
new.loc[new[new['YEAR'].isin(['(I) (2013–2016)','(I) (2019–2020)','(I) (2013–2014)','(I) (2012–2015)'])].index,'YEAR'] = np.nan

In [64]:
new['YEAR'] = new['YEAR'].astype(str)
new['Length'] = new['YEAR'].apply(len)

new['Length'].value_counts()

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\4012506726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['YEAR'] = new['YEAR'].astype(str)
C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\4012506726.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['Length'] = new['YEAR'].apply(len)

4     7095
3     2143
5      393
15     160
10     158
0       33
13      10
7        3
6        2
16       1
20       1
Name: Length, dtype: int64

In [65]:
new[new['Length'] == 15].YEAR.value_counts()

(2019 TV Movie)    22
(2014 TV Movie)    19
(2018 TV Movie)    17
(2016 TV Movie)    16
(2015 TV Movie)    16
(2017 TV Movie)    14
(2020 TV Movie)    13
(2013 TV Movie)     9
(2021 TV Movie)     6
(2011 TV Movie)     4
(2006 TV Movie)     3
(2012 TV Movie)     3
(2015 TV Short)     2
(2008 TV Movie)     2
(2009 TV Movie)     2
(2014 TV Short)     2
(2001 TV Movie)     1
(2020 TV Short)     1
(2007 TV Movie)     1
(1999 TV Movie)     1
(1975 TV Movie)     1
(1988 TV Movie)     1
(2021 TV Short)     1
(2019 TV Short)     1
(1993 TV Movie)     1
(2017 TV Short)     1
Name: YEAR, dtype: int64

In [66]:
length_15 = list(new[new['Length'] == 15].YEAR)

length_15_new = []
for i in length_15:
    length_15_new.append(i[1:5])
length_15_new

['2013',
 '2017',
 '2014',
 '2020',
 '2016',
 '2021',
 '2013',
 '1993',
 '2018',
 '2013',
 '2016',
 '2014',
 '2014',
 '2015',
 '2018',
 '2019',
 '2021',
 '2019',
 '2015',
 '2009',
 '2015',
 '2018',
 '2018',
 '2020',
 '2013',
 '2012',
 '2019',
 '2014',
 '2016',
 '2017',
 '2018',
 '2014',
 '2021',
 '1975',
 '2014',
 '2015',
 '2017',
 '2019',
 '2014',
 '2015',
 '2019',
 '2016',
 '2013',
 '2020',
 '2016',
 '2015',
 '2019',
 '2015',
 '2019',
 '2021',
 '2008',
 '2019',
 '2018',
 '2016',
 '2017',
 '2016',
 '2021',
 '2015',
 '2016',
 '2021',
 '2018',
 '2019',
 '2019',
 '2014',
 '2021',
 '2019',
 '2019',
 '2014',
 '2018',
 '2018',
 '2019',
 '2013',
 '2013',
 '2020',
 '2016',
 '2020',
 '2014',
 '2019',
 '2018',
 '2020',
 '2020',
 '2015',
 '2014',
 '2015',
 '2016',
 '2011',
 '2018',
 '2019',
 '1988',
 '2016',
 '2018',
 '2020',
 '2018',
 '2019',
 '2020',
 '2014',
 '2019',
 '2018',
 '2019',
 '2014',
 '2015',
 '2019',
 '2012',
 '2014',
 '2015',
 '2019',
 '2016',
 '2015',
 '2013',
 '2016',
 '2015',
 '2017',
 '2019',
 '2016',
 '2017',
 '1999',
 '2018',
 '2020',
 '2015',
 '2019',
 '2014',
 '2013',
 '2020',
 '2006',
 '2020',
 '2017',
 '2018',
 '2019',
 '2014',
 '2020',
 '2014',
 '2016',
 '2017',
 '2014',
 '2012',
 '2014',
 '2017',
 '2014',
 '2016',
 '2008',
 '2015',
 '2011',
 '2014',
 '2018',
 '2017',
 '2015',
 '2011',
 '2017',
 '2001',
 '2017',
 '2006',
 '2007',
 '2017',
 '2015',
 '2017',
 '2006',
 '2011',
 '2009',
 '2017',
 '2020']

In [67]:
new.loc[new[new['Length'] == 15].index,'YEAR'] = length_15_new

In [68]:
new[new['Length'] == 10].YEAR.value_counts()

(I) (2019)    24
(I) (2018)    22
(I) (2017)    17
(I) (2016)    16
(I) (2014)    15
(I) (2015)    15
(I) (2020)    11
(I) (2013)     7
(I) (2012)     6
(I) (2011)     5
(I) (2021)     5
(I) (2008)     4
(I) (2009)     3
(I) (2010)     2
(I) (2004)     1
(I) (2000)     1
(V) (2016)     1
(V) (2018)     1
(I) (2005)     1
(V) (2010)     1
Name: YEAR, dtype: int64

In [69]:
'(V) (2010)'[-5:-1]

'2010'

In [70]:
length_10 = list(new[new['Length'] == 10].YEAR)

length_10_new = []

for i in length_10:
    length_10_new.append(i[-5:-1])

new.loc[new[new['Length'] == 10].index,'YEAR'] = length_10_new

Clear

In [71]:
new[new['Length'] == 13].value_counts()

YEAR           Length
(II) (2017– )  13        2
(II) (2020– )  13        2
(II) (2021– )  13        2
(II) (2007– )  13        1
(II) (2012– )  13        1
(II) (2016– )  13        1
(II) (2019– )  13        1
dtype: int64

In [72]:
length_13 = list(new[new['Length'] == 13].YEAR)

length_13_new = []

for i in length_13:
    length_13_new.append(i[6:10])

new.loc[new[new['Length'] == 13].index,'YEAR'] = length_13_new

In [73]:
new[new['Length'] == 7].value_counts()

YEAR     Length
(Video)  7         2
(XXIII)  7         1
dtype: int64

In [74]:
new.loc[new[new['Length'] == 7].index,'YEAR'] = np.nan

In [75]:
new[new['Length'] == 6].value_counts()

YEAR    Length
(VIII)  6         1
(XIII)  6         1
dtype: int64

In [76]:
new.loc[new[new['Length'] == 6].index,'YEAR'] = np.nan

In [77]:
new[new['Length'] == 16].value_counts()

YEAR              Length
(II) (2012–2019)  16        1
dtype: int64

In [78]:
new.loc[new[new['Length'] == 16].index,'YEAR'] = np.nan

In [79]:
new[new['Length'] == 20].value_counts()

YEAR                  Length
(II) (2016 TV Movie)  20        1
dtype: int64

In [80]:
new.loc[new[new['Length'] == 20].index,'YEAR'] = '2016'

Clear

In [81]:
new['YEAR'] = new['YEAR'].astype(str)

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\732852883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['YEAR'] = new['YEAR'].astype(str)

In [82]:
new['YEAR'] = new['YEAR'].str.strip(' ')

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\1435439792.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['YEAR'] = new['YEAR'].str.strip(' ')

In [83]:
new['Length'] = new['YEAR'].apply(len)

new['Length'].value_counts()

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\4131529339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['Length'] = new['YEAR'].apply(len)

4    7817
3    2149
0      33
Name: Length, dtype: int64

In [84]:
new.loc[new[new['Length'] == 0].YEAR.index, 'YEAR'] = np.nan

In [85]:
new['YEAR'] = new['YEAR'].astype(str)

new['Length'] = new['YEAR'].apply(len)

new['Length'].value_counts()

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\2996055348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['YEAR'] = new['YEAR'].astype(str)
C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\2996055348.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['Length'] = new['YEAR'].apply(len)

4    7817
3    2182
Name: Length, dtype: int64

In [86]:
year = list(new['YEAR'])

year_char = []

for i in year:
    if i not in year_char:
        year_char.append(i)
        
print(year_char)

['2021', 'nan', '2013', '2020', '2019', '2011', '2005', '2017', '2016', '2014', '2015', '2003', '2018', '2012', '2007', '1993', '2001', '1997', '1975', '2006', '2010', '2000', '2009', '1995', '2002', '1976', '1978', '2022', '2008', '1998', '1968', '2004', '1971', '1989', '1996', '1980', '1962', '1991', '1984', '1960', '1988', '1987', '1969', '1961', '1979', '1956', '1983', '1990', '1986', '1966', '1967', '1994', '1974', '1992', '1958', '1932', '1941', '(II)', '1999', '1950', '1946', '1952', '1957', '(IV)', '1954', '1982', '1955', '1948', '1947', '1977', '2023', '1945', '1953', '1985', '1973', '1972', '1965', '(VI)', '(XI)', '1944', '(IX)', '1933', '1938']

In [87]:
new.loc[new[new['YEAR'].isin(['(II)','(IV)','(VI)','(XI)','(IX)'])].index,'YEAR'] = np.nan

In [88]:
year = list(new['YEAR'])

year_char = []

for i in year:
    if i not in year_char:
        year_char.append(i)
        
print(year_char)

['2021', 'nan', '2013', '2020', '2019', '2011', '2005', '2017', '2016', '2014', '2015', '2003', '2018', '2012', '2007', '1993', '2001', '1997', '1975', '2006', '2010', '2000', '2009', '1995', '2002', '1976', '1978', '2022', '2008', '1998', '1968', '2004', '1971', '1989', '1996', '1980', '1962', '1991', '1984', '1960', '1988', '1987', '1969', '1961', '1979', '1956', '1983', '1990', '1986', '1966', '1967', '1994', '1974', '1992', '1958', '1932', '1941', nan, '1999', '1950', '1946', '1952', '1957', '1954', '1982', '1955', '1948', '1947', '1977', '2023', '1945', '1953', '1985', '1973', '1972', '1965', '1944', '1933', '1938']

In [89]:
new.loc[new[new['Length'] == 3].index,'YEAR'] = np.nan

In [90]:
df['YEAR'] = new['YEAR']

In [91]:
df.head(20)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,Length
0,Blood Red Sky,2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,5
1,Masters of the Universe: Revelation,2021,"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,8
2,The Walking Dead,NaN,"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","8,85,805",44.0,NaN,11
3,Rick and Morty,2013,"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","4,14,849",23.0,NaN,8
4,Army of Thieves,2021,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,5
5,Outer Banks,2020,"\nAction, Crime, Drama",7.6,\nA group of teenagers from the wrong side of ...,"\n \n Stars:\nChase Stokes, \nMa...","25,858",50.0,NaN,8
6,The Last Letter from Your Lover,2021,"\nDrama, Romance",6.8,\nA pair of interwoven stories set in the past...,\n Director:\nAugustine Frizzell\n| \n S...,"5,283",110.0,NaN,5
7,Dexter,NaN,"\nCrime, Drama, Mystery",8.6,"\nBy day, mild-mannered Dexter is a blood-spat...","\n \n Stars:\nMichael C. Hall, \...","6,65,387",53.0,NaN,11
8,Never Have I Ever,2020,\nComedy,7.9,\nThe complicated life of a modern-day first g...,\n \n Stars:\nMaitreyi Ramakrish...,"34,530",30.0,NaN,8
9,Virgin River,2019,"\nDrama, Romance",7.4,"\nSeeking a fresh start, nurse practitioner Me...",\n \n Stars:\nAlexandra Breckenr...,"27,279",44.0,NaN,8
10,Gunpowder Milkshake,2021,"\nAction, Adventure, Thriller",6.0,\nThree generations of women fight back agains...,\n Director:\nNavot Papushado\n| \n Star...,"17,989",114.0,NaN,5
11,Lucifer,NaN,"\nCrime, Drama, Fantasy",8.1,\nLucifer Morningstar has decided he's had eno...,"\n \n Stars:\nTom Ellis, \nLesle...","2,64,222",42.0,NaN,11
12,Fear Street: 1994,2021,"\nDrama, Horror, Mystery",6.2,\nA circle of teenage friends accidentally enc...,\n Director:\nLeigh Janiak\n| \n Stars:\...,"50,148",107.0,NaN,5
13,Sex/Life,2021,"\nComedy, Drama, Romance",5.4,\nA suburban mother of two takes a fantasy-cha...,"\n \n Stars:\nSarah Shahi, \nMik...","12,172",NaN,NaN,8
14,American Horror Story,2011,"\nDrama, Horror, Thriller",8.0,\nAn anthology series centering on different c...,"\n \n Stars:\nLady Gaga, \nKathy...","2,86,488",60.0,NaN,8
15,Grey's Anatomy,2005,"\nDrama, Romance",7.5,\nA drama centered on the personal and profess...,"\n \n Stars:\nEllen Pompeo, \nCh...","2,66,258",41.0,NaN,8
16,Breaking Bad,NaN,"\nCrime, Drama, Thriller",9.4,\nA high school chemistry teacher diagnosed wi...,"\n \n Stars:\nBryan Cranston, \n...","15,52,311",49.0,NaN,11
17,The Good Doctor,2017,\nDrama,8.1,"\nShaun Murphy, a young surgeon with autism an...","\n \n Stars:\nFreddie Highmore, ...","70,871",41.0,NaN,8
18,Atypical,NaN,"\nComedy, Drama",8.3,"\nSam, an 18-year-old on the autism spectrum, ...",\n \n Stars:\nJennifer Jason Lei...,"71,544",30.0,NaN,11
19,Stranger Things,2016,"\nDrama, Fantasy, Horror",8.7,"\nWhen a young boy disappears, his mother, a p...",\n \n Stars:\nMillie Bobby Brown...,"8,85,856",51.0,NaN,8

# Now the year column is completely cleaned.

In [92]:
new = list(df['GENRE'].astype(str))
new_char = []
for i in new:
    new_char.append(i[1:])
df['GENRE'] = new_char

In [93]:
new = list(df['GENRE'].astype(str))
new_char = []

for i in new:
    for char in i:
        if char not in new_char:
            new_char.append(char)
print(new_char)

['A', 'c', 't', 'i', 'o', 'n', ',', ' ', 'H', 'r', 'T', 'h', 'l', 'e', 'm', 'a', 'd', 'v', 'u', 'D', 'C', 'y', 'R', 'M', 's', 'F', 'S', '-', 'B', 'g', 'p', 'G', 'w', 'V', 'W', 'N', 'k']

In [94]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,Length
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,5
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,8
2,The Walking Dead,NaN,"Drama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","8,85,805",44.0,NaN,11
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","4,14,849",23.0,NaN,8
4,Army of Thieves,2021,"Action, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,5

# We are done with column Genre as well!

In [95]:
new = list(df['ONE-LINE'].astype(str))
new_char = []

for i in new:
    for char in i:
        if char not in new_char:
            new_char.append(char)
new_char.sort()
print(new_char)

['\n', ' ', '!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', ':', ';', '=', '?', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '\xa0', '¢', '£', '¦', '«', '¬', '\xad', '°', '»', 'Á', 'Â', 'Ã', 'Ä', 'Å', 'Ç', 'É', 'Ñ', 'Ö', 'à', 'á', 'â', 'ã', 'ä', 'å', 'ç', 'è', 'é', 'ë', 'í', 'î', 'ï', 'ñ', 'ò', 'ó', 'ô', 'ö', 'ø', 'ú', 'û', 'ü', 'ý', '–', '—', '‘', '’']

In [96]:
import re

In [97]:
df['ONE-LINE']

0       \nA woman with a mysterious illness is forced ...
1       \nThe war for Eternia begins again in what may...
2       \nSheriff Deputy Rick Grimes wakes up from a c...
3       \nAn animated series that follows the exploits...
4       \nA prequel, set before the events of Army of ...
                              ...
9994                                       \nAdd a Plot\n
9995                                       \nAdd a Plot\n
9996                                       \nAdd a Plot\n
9997                                       \nAdd a Plot\n
9998                                       \nAdd a Plot\n
Name: ONE-LINE, Length: 9999, dtype: object

In [98]:
# Define a function to clean the text
def clean_text(text):
    # Remove leading/trailing spaces
    text = text.strip()
    
    # Remove special characters using regex
    text = re.sub(r'[^\w\s]', '', text)
    
    # Remove extra spaces
    text = re.sub(r'\s+', ' ', text)
    
    return text

# Apply the cleaning function to the 'ONE-LINE' column
df['ONE-LINE'] = df['ONE-LINE'].apply(clean_text)
# Replace 'Add a Plot' entries with NaN
df['ONE-LINE'] = df['ONE-LINE'].replace('Add a Plot', pd.NA)

print(df['ONE-LINE'])

0       A woman with a mysterious illness is forced in...
1       The war for Eternia begins again in what may b...
2       Sheriff Deputy Rick Grimes wakes up from a com...
3       An animated series that follows the exploits o...
4       A prequel set before the events of Army of the...
                              ...
9994                                                 <NA>
9995                                                 <NA>
9996                                                 <NA>
9997                                                 <NA>
9998                                                 <NA>
Name: ONE-LINE, Length: 9999, dtype: object

In [99]:
new = list(df['ONE-LINE'].astype(str))
new_char = []

for i in new:
    for char in i:
        if char not in new_char:
            new_char.append(char)
new_char.sort()
print(new_char)

[' ', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '<', '>', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'Á', 'Â', 'Ã', 'Ä', 'Å', 'Ç', 'É', 'Ñ', 'Ö', 'à', 'á', 'â', 'ã', 'ä', 'å', 'ç', 'è', 'é', 'ë', 'í', 'î', 'ï', 'ñ', 'ò', 'ó', 'ô', 'ö', 'ø', 'ú', 'û', 'ü', 'ý']

In [100]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,Length
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,5
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,8
2,The Walking Dead,NaN,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"\n \n Stars:\nAndrew Lincoln, \n...","8,85,805",44.0,NaN,11
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"\n \n Stars:\nJustin Roiland, \n...","4,14,849",23.0,NaN,8
4,Army of Thieves,2021,"Action, Crime, Horror",NaN,A prequel set before the events of Army of the...,\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,5

# Now the One-Line column is somewhat clean

In [101]:
df['VOTES'] = df['VOTES'].astype('str')
new = list(df['VOTES'])

new_char = []
for i in new:
    for char in i:
        if char not in new_char:
            new_char.append(char)
            
print(new_char)

['2', '1', ',', '0', '6', '7', '8', '5', '4', '9', 'n', 'a', '3']

In [102]:
# We can just strip the comma and we are good to go with the column VOTES

In [103]:
df['VOTES'] = df['VOTES'].str.replace(',','')

In [104]:
df['RunTime'] = df['RunTime'].astype('str')
new = list(df['RunTime'])

new_char = []
for i in new:
    for char in i:
        if char not in new_char:
            new_char.append(char)
            
print(new_char)

['1', '2', '.', '0', '5', '4', '3', 'n', 'a', '7', '6', '9', '8']

In [105]:
df['Gross'].value_counts()

$0.01M     22
$0.02M     16
$0.00M     15
$0.03M     10
$0.04M      9
           ..
$37.77M     1
$44.82M     1
$21.36M     1
$54.76M     1
$10.40M     1
Name: Gross, Length: 332, dtype: int64

In [106]:
df['Gross'] = df['Gross'].str.replace('$','')
df['Gross'] = df['Gross'].str.replace('M','')

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\2472368531.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Gross'] = df['Gross'].str.replace('$','')

In [107]:
df['Gross'].value_counts()

0.01     22
0.02     16
0.00     15
0.03     10
0.04      9
         ..
37.77     1
44.82     1
21.36     1
54.76     1
10.40     1
Name: Gross, Length: 332, dtype: int64

In [108]:
df['Gross'] = df['Gross'].astype(float)

In [109]:
df['Gross'] = df['Gross'] * 1000000
df['Gross'].value_counts()

10000.0       22
20000.0       16
0.0           15
30000.0       10
40000.0        9
              ..
37770000.0     1
44820000.0     1
21360000.0     1
54760000.0     1
10400000.0     1
Name: Gross, Length: 332, dtype: int64

In [110]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,Length
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,\n Director:\nPeter Thorwarth\n| \n Star...,21062,121.0,NaN,5
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"\n \n Stars:\nChris Wood, \nSara...",17870,25.0,NaN,8
2,The Walking Dead,NaN,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"\n \n Stars:\nAndrew Lincoln, \n...",885805,44.0,NaN,11
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"\n \n Stars:\nJustin Roiland, \n...",414849,23.0,NaN,8
4,Army of Thieves,2021,"Action, Crime, Horror",NaN,A prequel set before the events of Army of the...,\n Director:\nMatthias Schweighöfer\n| \n ...,nan,nan,NaN,5

In [111]:
df.drop('Length', axis = 1, inplace = True)

In [112]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,\n Director:\nPeter Thorwarth\n| \n Star...,21062,121.0,NaN
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"\n \n Stars:\nChris Wood, \nSara...",17870,25.0,NaN
2,The Walking Dead,NaN,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"\n \n Stars:\nAndrew Lincoln, \n...",885805,44.0,NaN
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"\n \n Stars:\nJustin Roiland, \n...",414849,23.0,NaN
4,Army of Thieves,2021,"Action, Crime, Horror",NaN,A prequel set before the events of Army of the...,\n Director:\nMatthias Schweighöfer\n| \n ...,nan,nan,NaN

## Only the STARS Column is left to be sorted

In [113]:
df['STARS'].value_counts()

\n                                                                                                                                       456
\n            \n    Stars:\nEmmanuel Esparza, \nEssined Aponte, \nManuel Navarro, \nÁlvaro Benet\n                                        58
\n    Directors:\nRajiv Chilaka, \nKrishna Mohan Chintapatla\n                                                                            49
\n    Director:\nOliver Driver\n| \n    Stars:\nRorrie D. Travis, \nJasmeet Baduwalia, \nJacqueline Scislowski, \nAbraham Rodriguez\n     21
\n            \n    Star:\nMichael J. Woodard\n                                                                                           19
                                                                                                                                        ...
\n            \n    Stars:\nDong-wook Kim, \nMoon Ga-young, \nSeul-gi Kim, \nJong-Hoon Yoon\n                                              1
\n            \n    Stars:\nCharles Demers, \nRebecca Husain, \nLili Beaudoin, \nAshleigh Ball\n                                           1
\n            \n    Stars:\nJohn Paul Tremblay, \nRobb Wells, \nMike Smith, \nTom Mayhue\n                                                 1
\n            \n    Stars:\nSu Meng Di, \nDai Yun Fan, \nCharles Lin, \nJasper Liu\n                                                       1
\n    Director:\nJovanka Vuckovic\n| \n    Stars:\nMorgan Taylor Campbell, \nJennifer Cheon Garcia, \nIñaki Godoy, \nRhianna Jagpal\n      1
Name: STARS, Length: 7877, dtype: int64

In [114]:
df['STARS']

0       \n    Director:\nPeter Thorwarth\n| \n    Star...
1       \n            \n    Stars:\nChris Wood, \nSara...
2       \n            \n    Stars:\nAndrew Lincoln, \n...
3       \n            \n    Stars:\nJustin Roiland, \n...
4       \n    Director:\nMatthias Schweighöfer\n| \n  ...
                              ...
9994    \n            \n    Stars:\nMorgan Taylor Camp...
9995                                                   \n
9996    \n    Director:\nOrlando von Einsiedel\n| \n  ...
9997    \n    Director:\nJovanka Vuckovic\n| \n    Sta...
9998    \n    Director:\nJovanka Vuckovic\n| \n    Sta...
Name: STARS, Length: 9999, dtype: object

In [116]:
df['STARS'] = df['STARS'].str.replace('\n','')

In [174]:
df['STARS'].value_counts()

                                                                                                                       456
                Stars:Emmanuel Esparza, Essined Aponte, Manuel Navarro, Álvaro Benet                                    58
    Directors:Rajiv Chilaka, Krishna Mohan Chintapatla                                                                  49
    Director:Oliver Driver|     Stars:Rorrie D. Travis, Jasmeet Baduwalia, Jacqueline Scislowski, Abraham Rodriguez     21
                Star:Michael J. Woodard                                                                                 19
                                                                                                                      ...
                Stars:Dong-wook Kim, Moon Ga-young, Seul-gi Kim, Jong-Hoon Yoon                                          1
                Stars:Charles Demers, Rebecca Husain, Lili Beaudoin, Ashleigh Ball                                       1
                Stars:John Paul Tremblay, Robb Wells, Mike Smith, Tom Mayhue                                             1
                Stars:Su Meng Di, Dai Yun Fan, Charles Lin, Jasper Liu                                                   1
    Director:Jovanka Vuckovic|     Stars:Morgan Taylor Campbell, Jennifer Cheon Garcia, Iñaki Godoy, Rhianna Jagpal      1
Name: STARS, Length: 7877, dtype: int64

In [175]:
new = pd.DataFrame(df['STARS'].str.split('Star', n = 1, expand = True))

In [176]:
new = new.rename(columns = {0 : "Directors", 1:"Stars",2 :"Misc"})

In [177]:
new

,Directors,Stars
0,Director:Peter Thorwarth|,"s:Peri Baumeister, Carl Anton Koch, Alexander ..."
1,,"s:Chris Wood, Sarah Michelle Gellar, Lena Head..."
2,,"s:Andrew Lincoln, Norman Reedus, Melissa McBri..."
3,,"s:Justin Roiland, Chris Parnell, Spencer Gramm..."
4,Director:Matthias Schweighöfer|,"s:Matthias Schweighöfer, Nathalie Emmanuel, Ru..."
...,...,...
9994,,"s:Morgan Taylor Campbell, Chris Cope, Iñaki Go..."
9995,,None
9996,Director:Orlando von Einsiedel|,:Prince Harry
9997,Director:Jovanka Vuckovic|,"s:Morgan Taylor Campbell, Iñaki Godoy, Rhianna..."
9998,Director:Jovanka Vuckovic|,"s:Morgan Taylor Campbell, Jennifer Cheon Garci..."

In [183]:
new['Directors'] = new['Directors'].str.replace('Director','')

In [185]:
new['Directors'] = new['Directors'].str.replace('|','')
new['Directors'] = new['Directors'].str.replace(':','')
new['Directors']

C:\Users\sidja\AppData\Local\Temp\ipykernel_7584\1377088805.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new['Directors'] = new['Directors'].str.replace('|','')

0                 Peter Thorwarth
1
2
3
4           Matthias Schweighöfer
                     ...
9994
9995
9996        Orlando von Einsiedel
9997             Jovanka Vuckovic
9998             Jovanka Vuckovic
Name: Directors, Length: 9999, dtype: object

In [205]:
new['Directors'] = new['Directors'].str.strip(' ')

In [206]:
new['dir_len'] = new['Directors'].apply(len)

In [208]:
new['dir_len'].value_counts()

0      3646
13      797
11      777
12      758
14      599
       ...
204       1
109       1
2         1
106       1
51        1
Name: dir_len, Length: 80, dtype: int64

In [214]:
new.loc[new.Directors[new['dir_len'] == 0].index,'Directors'] = np.nan

In [215]:
new['Directors']

0             Peter Thorwarth
1                         NaN
2                         NaN
3                         NaN
4       Matthias Schweighöfer
                ...
9994                      NaN
9995                      NaN
9996    Orlando von Einsiedel
9997         Jovanka Vuckovic
9998         Jovanka Vuckovic
Name: Directors, Length: 9999, dtype: object

In [216]:
new['Stars'] = new['Stars'].str.replace('s:','')
new['Stars'] = new['Stars'].str.replace(':','')
new['Stars']

0       Peri Baumeister, Carl Anton Koch, Alexander Sc...
1       Chris Wood, Sarah Michelle Gellar, Lena Headey...
2       Andrew Lincoln, Norman Reedus, Melissa McBride...
3       Justin Roiland, Chris Parnell, Spencer Grammer...
4       Matthias Schweighöfer, Nathalie Emmanuel, Ruby...
                              ...
9994    Morgan Taylor Campbell, Chris Cope, Iñaki Godo...
9995                                                 None
9996                                         Prince Harry
9997    Morgan Taylor Campbell, Iñaki Godoy, Rhianna J...
9998    Morgan Taylor Campbell, Jennifer Cheon Garcia,...
Name: Stars, Length: 9999, dtype: object

In [223]:
new['Stars'] = new['Stars'].astype('str')

In [224]:
new['star_len'] = new['Stars'].apply(len)

In [229]:
new.loc[new.Stars[new['Stars'] == 'None'].index, 'Stars'] = np.nan

In [230]:
new['Stars']

0       Peri Baumeister, Carl Anton Koch, Alexander Sc...
1       Chris Wood, Sarah Michelle Gellar, Lena Headey...
2       Andrew Lincoln, Norman Reedus, Melissa McBride...
3       Justin Roiland, Chris Parnell, Spencer Grammer...
4       Matthias Schweighöfer, Nathalie Emmanuel, Ruby...
                              ...
9994    Morgan Taylor Campbell, Chris Cope, Iñaki Godo...
9995                                                  NaN
9996                                         Prince Harry
9997    Morgan Taylor Campbell, Iñaki Godoy, Rhianna J...
9998    Morgan Taylor Campbell, Jennifer Cheon Garcia,...
Name: Stars, Length: 9999, dtype: object

In [231]:
new['Directors']

0             Peter Thorwarth
1                         NaN
2                         NaN
3                         NaN
4       Matthias Schweighöfer
                ...
9994                      NaN
9995                      NaN
9996    Orlando von Einsiedel
9997         Jovanka Vuckovic
9998         Jovanka Vuckovic
Name: Directors, Length: 9999, dtype: object

In [232]:
df.head(1)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri B...,21062,121.0,NaN

In [234]:
df.drop('STARS', axis = 1, inplace = True)

In [235]:
df['Stars'] = new['Stars']
df['Directors'] = new['Directors']

In [236]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,VOTES,RunTime,Gross,Stars,Directors
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,21062,121.0,NaN,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",Peter Thorwarth
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,17870,25.0,NaN,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",NaN
2,The Walking Dead,NaN,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,885805,44.0,NaN,"Andrew Lincoln, Norman Reedus, Melissa McBride...",NaN
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,414849,23.0,NaN,"Justin Roiland, Chris Parnell, Spencer Grammer...",NaN
4,Army of Thieves,2021,"Action, Crime, Horror",NaN,A prequel set before the events of Army of the...,nan,nan,NaN,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby...",Matthias Schweighöfer

In [241]:
df.loc[df.VOTES[df['VOTES'] == 'nan'].index, 'VOTES'] = np.nan

In [242]:
df.loc[df.RunTime[df['RunTime'] == 'nan'].index, 'RunTime'] = np.nan

In [243]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,VOTES,RunTime,Gross,Stars,Directors
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,21062,121.0,NaN,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",Peter Thorwarth
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,17870,25.0,NaN,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",NaN
2,The Walking Dead,NaN,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,885805,44.0,NaN,"Andrew Lincoln, Norman Reedus, Melissa McBride...",NaN
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,414849,23.0,NaN,"Justin Roiland, Chris Parnell, Spencer Grammer...",NaN
4,Army of Thieves,2021,"Action, Crime, Horror",NaN,A prequel set before the events of Army of the...,NaN,NaN,NaN,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby...",Matthias Schweighöfer

In [256]:
df.rename(columns = {'MOVIES' : 'Name', 'YEAR':'Year','GENRE':'Genre','RATING' : 'Rating', 'ONE-LINE':'Description','VOTES': 'Votes',}, inplace = True)

In [257]:
df.head()

,Name,Year,Genre,Rating,Description,Votes,RunTime,Gross,Stars,Directors
0,Blood Red Sky,2021.0,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,21062.0,121.0,NaN,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",Peter Thorwarth
1,Masters of the Universe: Revelation,2021.0,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,17870.0,25.0,NaN,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",NaN
2,The Walking Dead,NaN,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,885805.0,44.0,NaN,"Andrew Lincoln, Norman Reedus, Melissa McBride...",NaN
3,Rick and Morty,2013.0,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,414849.0,23.0,NaN,"Justin Roiland, Chris Parnell, Spencer Grammer...",NaN
4,Army of Thieves,2021.0,"Action, Crime, Horror",NaN,A prequel set before the events of Army of the...,NaN,NaN,NaN,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby...",Matthias Schweighöfer

In [258]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         9999 non-null   object
 1   Year         7788 non-null   float64
 2   Genre        9999 non-null   object
 3   Rating       8179 non-null   float64
 4   Description  8734 non-null   object
 5   Votes        8179 non-null   float64
 6   RunTime      7041 non-null   float64
 7   Gross        460 non-null    float64
 8   Stars        9206 non-null   object
 9   Directors    6353 non-null   object
dtypes: float64(5), object(5)
memory usage: 781.3+ KB

In [259]:
df['Year'] = df['Year'].astype(float)
df['Votes'] = df['Votes'].astype(float)
df['RunTime'] = df['RunTime'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         9999 non-null   object
 1   Year         7788 non-null   float64
 2   Genre        9999 non-null   object
 3   Rating       8179 non-null   float64
 4   Description  8734 non-null   object
 5   Votes        8179 non-null   float64
 6   RunTime      7041 non-null   float64
 7   Gross        460 non-null    float64
 8   Stars        9206 non-null   object
 9   Directors    6353 non-null   object
dtypes: float64(5), object(5)
memory usage: 781.3+ KB

In [260]:
df.head()

,Name,Year,Genre,Rating,Description,Votes,RunTime,Gross,Stars,Directors
0,Blood Red Sky,2021.0,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,21062.0,121.0,NaN,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",Peter Thorwarth
1,Masters of the Universe: Revelation,2021.0,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,17870.0,25.0,NaN,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",NaN
2,The Walking Dead,NaN,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,885805.0,44.0,NaN,"Andrew Lincoln, Norman Reedus, Melissa McBride...",NaN
3,Rick and Morty,2013.0,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,414849.0,23.0,NaN,"Justin Roiland, Chris Parnell, Spencer Grammer...",NaN
4,Army of Thieves,2021.0,"Action, Crime, Horror",NaN,A prequel set before the events of Army of the...,NaN,NaN,NaN,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby...",Matthias Schweighöfer

In [ ]:
- Analyze distribution of movies/shows over different years and genres.
- Investigate correlations between ratings, votes, and gross earnings.
- Examine the impact of runtime on ratings and earnings.
- Identify top-rated movies/shows and highest-grossing entries.

In [261]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

**To be continued**